/// text/bg colors

$white-text: #ffffff;
$acct-card-bg: #F5F5F5;
$prolink-orange: #faa41a;
$prolink-blue: #3dbcc6;
$label-text: #333;
$card-header-bg: #083853;
$acct-details-text: #606060;
$chat-btn-bg: #f5f5f5;
$second-nav-bg: #083853;
$main-nav-bg: #094A70;
$side-nav-bg: #044368;
$acct-view-btn: #09365D; 
$card-border: #dcad18;





$box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.1);